# DNS - CoreDNS + DNSZoner
BASE_DOMAIN=example.com
DNS_HOST=0.0.0.0
DNS_PORT=53
DNS_DEFAULT_IP=10.13.13.1
TZ=Europe/Paris

# Container engine socket
CONTAINER_ENGINE_SOCKET=/run/user/1000/podman/podman.sock
