# Traefik - Reverse Proxy
ACME_EMAIL=admin@example.com
BASE_DOMAIN=example.com
TZ=Europe/Paris

# Container engine socket
# Podman rootless (default):
CONTAINER_ENGINE_SOCKET=/run/user/1000/podman/podman.sock
# Docker:
# CONTAINER_ENGINE_SOCKET=/var/run/docker.sock
